/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xbh9k7hjq0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xbh9k7hjq0] {
  color: #0077cc;
}

.btn-primary[b-xbh9k7hjq0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xbh9k7hjq0],
.nav-pills .show > .nav-link[b-xbh9k7hjq0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xbh9k7hjq0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xbh9k7hjq0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xbh9k7hjq0] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-xbh9k7hjq0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xbh9k7hjq0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.autocomplete[b-xbh9k7hjq0] {
  position: relative;
  width: auto; /* Atur lebar sesuai kebutuhan */
}

.autocomplete-input[b-xbh9k7hjq0] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  outline: none;
}

.autocomplete-list[b-xbh9k7hjq0] {
  position: absolute;
  z-index: 1000;
  width: 100%; /* Lebar daftar autocomplete mengikuti input */
  max-height: 200px; /* Atur tinggi maksimum sesuai kebutuhan */
  overflow-y: auto;
  margin-top: 5px; /* Beri sedikit jarak dengan input */
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #1e0606;
}

.autocomplete-list li[b-xbh9k7hjq0] {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.autocomplete-list li:last-child[b-xbh9k7hjq0] {
  border-bottom: none;
}

.autocomplete-list li:hover[b-xbh9k7hjq0] {
  background-color: #f1f1f1;
}
